<% include header %>
	<div class="form-group">
		<form name="signInForm" action= "sign-in" method="post" class="form-group">
		    <label for="Username">Username</label>
			<input name="username" placeholder="Username" class="form-control"><br>
			<label for="Create Password">Create Password</label>
			<input name="password" placeholder="Create Password" class="form-control"><br>
			<input type="submit" id="Sign In" class="btn btn-primary pull-left" value="Sign In">	
			<a href="sign-up" class="btn btn-primary pull-right">Sign up for an account</a>			
		</form>

	</div>
<% include footer %>
